*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}
nav{
    display: flex;
    position: sticky;
    width: 319px;
    height: 45px;   
    left: 401px;
    top: 50px;
    
}
.kiri-besar{
    position: absolute;
    width: 300px;
    height: 600px;
    top: 24px;
    left: 20px;
    right: 20px;
    bottom: 24px;
    border-radius: 20px;
    background-color: #7F1D9F;

}
.logo{
    position:absolute;
    width: 280px;
    height: 70px;
    padding-top: 24px;
    padding-left: 20px;
    background: #571F69;
    border-radius: 20px;
    display: flex;
}
.user{
    position: absolute;
    left: 90px;
    top: 30px;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    background-color: transparent;
}

img{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: transparent;
    
}
.textdatasiswa{
    display:block;
    padding-top: 120px;
    padding-left: 20px;
    font-weight:600;
    font-size: 20px;
}
.textdatabarang{
    display: block;
    padding-top: 20px;
    padding-left: 20px;
    font-weight:600;
    font-size: 20px;
}
.sarana{
    padding-bottom: 50px;
    margin-top: -50px;
    color: #571F69;
}
.menu-tampilan a{
    background-color: transparent;
}
.table{
    position: relative;
    margin-top: 100px;
    margin-left: 400px;
}
.keseluruhan{
    display: flex;
}
.tabel1{
    position: relative;
    margin-top: 100px;
    margin-left: 400px;
}
.table2{
    position:relative;
    margin-top: 100px;
    margin-left: 400px;
}
input{
    
    width: 300px;
    height: 30px;
    border-radius: 10px;
    float: right;
    background-color: #7d7d7d;
    border-color: transparent;
}
label{
    float: right;
}

.kotak{
    width: 700px;
    height: 100px;
    border-radius: 5px;
    background-color: grey;
}
.kotak th{
    background: #571F69;
}
.kotak td{
    background: #b1b1b1;
}
h3{
   text-align: center;
}
form{
    width: 450px;
    height: 400px;
    background-color: #571F69;
    border-radius: 20px;
    padding-right: 10px;
    padding-top: 10px;
    
}
button{
    height: 30px;
    width: 150px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: #7d7d7d;
    border-color: transparent;
}


